// @font-face {
//   font-family: 'Montserrat-Light';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../fonts/Montserrat-Light.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Montserrat-Regular';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Montserrat-Bold';
//   font-weight: 700;
//   font-style: normal;
//   src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Matter-Regular';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../fonts/Matter-Regular.woff2') format('woff2'),
//        url('../fonts/Matter-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'Matter-SemiBold';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../fonts/Matter-SemiBold.woff2') format('woff2'),
//        url('../fonts/Matter-SemiBold.woff') format('woff');
// }

// @font-face {
//   font-family: 'Questrial-Regular';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../fonts/Questrial-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Roboto-Regular';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../fonts/Roboto-Regular.ttf') format('truetype');
// }

@font-face {
  font-family: 'Roboto-Medium';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'LexendDeca-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Inter-Regular-slnt=0.ttf') format('truetype');
}