
// Whites, blacks & greys
$white: #fff;
$off-white: #f5f5f5;
$off-black: #121212;
$brand-navy: #0a0039;

.color-1 { background-color:#ff5c5c; }
.color-2 { background-color:#ee7abb; }
.color-3 { background-color:#22cae1; }
.color-4 { background-color:#ffe8b4; }
.color-5 { background-color:#07ca78; }