
// Whites, blacks & greys
$white: #fff;
$off-white: #f5f5f5;
$off-black: #121212;
$brand-navy: #0a0039;

$red: #ff5c5c;
$pink: #ee7abb;
$turquoise: #22cae1;
$yellow: #ffe8b4;
$green: #09CA77;

// phase banners
$alpha: #E34096;
$beta: #DF6300;
$discovery: #0C9DEF;
$idea: rgba($discovery, 0.25);
$live: #019B59;
$scoping: rgba($discovery, 0.5);

.color-1 { background-color:$red; }
.color-2 { background-color:$pink; }
.color-3 { background-color:$turquoise; }
.color-4 { background-color:$yellow; }
.color-5 { background-color:$green; }