// Fonts

// Free
$system: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat-light: 'Montserrat-Light', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat-regular: 'Montserrat-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat-bold: 'Montserrat-Bold', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$questrial-regular: 'Questrial-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto-regular: 'Roboto-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto-medium: 'Roboto-Medium', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$lexenddeca-regular: 'LexendDeca-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Paid
// https://displaay.net/typeface/matter/
$matter-regular: 'Matter-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$matter-semi-bold: 'Matter-SemiBold', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Fonts to use
$body-font: $roboto-regular;
$body-font-bold: $roboto-medium;
$display-font: $lexenddeca-regular;
$display-font-bold: $lexenddeca-regular;
$ui-font: $roboto-medium;

// Breakpoints (minimum widths)
$mobile:  			0px;
$tablet:  			600px;
$desktop: 			960px;
$desktop-large: 1200px;
$cinema:  			1800px;

// Gutters & Spacing
$gutter:                15px;
$gutter-tablet:         30px;
$gutter-desktop:        45px;
$gutter-desktop-large:  $gutter-desktop;

// Layout
$site-max-width:            100%;
$grid-max-width:            $desktop_large + 80px;