// Fonts

// Free
$system: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat-light: 'Montserrat-Light', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat-regular: 'Montserrat-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat-bold: 'Montserrat-Bold', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;


// Paid
// https://displaay.net/typeface/matter/
$matter-regular: 'Matter-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$matter-semi-bold: 'Matter-SemiBold', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Fonts to use
$body-font: $matter-regular;
$body-font-bold: $matter-semi-bold;
$display-font: $matter-regular;
$display-font-bold: $matter-semi-bold;
$ui-font: $matter-semi-bold;

// Breakpoints (minimum widths)
$mobile:  			0px;
$tablet:  			600px;
$desktop: 			960px;
$desktop-large: 1200px;
$cinema:  			1800px;

// Gutters & Spacing
$gutter:                15px;
$gutter-tablet:         30px;
$gutter-desktop:        45px;
$gutter-desktop-large:  $gutter-desktop;

// Layout
$site-max-width:            100%;
$grid-max-width:            $desktop_large + 80px;